@{
    ViewBag.Title = "About Us";
   
}

<div class="container-fluid bg-lightgray">
    <div class="row">
        <div class="col-md-6">
            <img src="https://www.vevs.com/app/web/upload/medium/what-to-write-about-in-your-car-rental-blog-cover-63.webp" class="img-fluid" alt="Luxury Vehicles" />
        </div>
        <div class="col-md-6">
            <div class="p-5">
                <h2 class="text-secondary">About Us</h2>
                <hr />
                <p class="lead">At Automotive Hub, we're more than just a car rental company. We're your gateway to luxury, convenience, and exceptional service.</p>
                <h4 class="mb-2">Why Choose Us?</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><strong>Wide Selection:</strong> Choose from a diverse range of luxury vehicles, including high-performance sports cars, stylish sedans, and more.</li>
                    <li class="mb-2"><strong>Fast Service:</strong> Get on the road quickly with our streamlined booking process and efficient service.</li>
                    <li class="mb-2"><strong>Flexible Options:</strong> Enjoy flexible booking options and rental periods tailored to your schedule and preferences.</li>
                    <li class="mb-2"><strong>Personalized Support:</strong> Our dedicated team is here to provide personalized assistance and ensure your complete satisfaction.</li>
                </ul>
                <hr />
                <p>Experience the luxury of driving your dream car with Automotive Hub. Book your rental today and embark on an unforgettable journey.</p>
            </div>
        </div>
    </div>
</div>
