@model IEnumerable<CarServiceModel>

@{
    ViewBag.Title = "My Cars";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{   <div class="message-box">
    <h2 class="text-center">You don't have any rented cars yes!Why dont you rent one?</h2>
    </div>
}

<div class="row">
    @foreach (var car in Model)
    {
        <partial name="_CarPartial" model="@car" />
    }
</div>